__pycache__/
*.pyc
*.pyo
*.pt
*.onnx
*.h5
*.pth
dist/
node_modules/
*.egg-info/
runs/
logs/
*.HMI
*.uvguix.*
*.uvguix
echarts.js
*.lock
package-lock.json
tsconfig.app.tsbuildinfo
tsconfig.node.tsbuildinfo
